#wrapper
      #left.side
        #header
          h1
            span.first Boris Sérèmes
        ul#links
          li
            a(href='https://medium.com/@bseremes', target='_blank')
              p Blog
              .bar
          li
            a(href='https://www.linkedin.com/in/bseremes', target='_blank')
              p CV
              .bar
          li
            a(href='mailto:boris.seremes@gmail.com')
              p Contact
              .bar
      #right.side
        #text
          #emoji
          h2 Bonjour.
          h3 le web évolue...vous ne trouvez pas ?